@import url(components/header.css);

body {
  background-image: linear-gradient(to right, #A7727D, white, #A7727D);
  animation: changeGradient 20s linear infinite;
  margin: 0;
}

a{
  color: black;

}

h1{
  font-family: 'Playfair Display', serif;
}

h1{
  text-underline-position:under ;
}

.title{
  text-align: center;
}

.barrerecherche{
  display: flex;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  padding: 10;
}


.navbar{
  text-align: center;
  max-height: 100p;
  background-color: lightpink;
  display: flex;
  justify-content: space-evenly;
}


.bandeau {
  height: 50px;
  border: 1px solid;
  background-color: lightpink;
  text-align: center;
}

.slider {
  width: 100%;
  overflow: hidden;
  margin-top: 40px;
  color: white;
  font-family: 'Kanit', sans-serif;
 }

.slides {
  width: calc(400px * 6);
  animation: glisse 8s infinite;
}

.slide {
  float: left;
}

.slides img {
  width: 400px;
}

.fleurprem img{
  width:250px ;
  height: 250px;
  margin-top: 45px;
}

.fleurprem{
  background-color: ;
}

.barrefleur{
  width: 250px;
  height: 350px;
}


.fleurdumois{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.avis{
  text-align: center;

}

#note{
text-align: center;
}

@keyframes glisse {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-400px);
  }
  43% {
    transform: translateX(-400px);
  }
  66% {
    transform: translateX(-1000px);
  }
  76% {
    transform: translateX(-1300px);
  }
  100% {
    transform: translateX(0);
}





