.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header i{
  font-size: 24px;
}

.logos{
  display: flex;
}

.renseignements{
  display:flex;
  align-items: center;
  text-underline-position:under;
  width: 150px;
  height:60px;
  margin-left: 45px;
}

.lieu{
  display: flex;
}

hr{
  border-width: 3px;
  background-color: lightpink;
  height:10px;
}
.topsite{
  text-align: center;

}

